@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* { font-family: 'Montserrat', sans-serif;}
button { width: 100px; height: 50px; }
p { font-size:30px; }
#prsn1 { font-style: italic; }
#prsn2 { color: deeppink; }
#prsn3 { color: darkblue; }